.app {
    font-family: sans-serif;
    text-align: center;
}

button {
    background-color: #4c60af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
}